

/*Custom Fonts*/
@font-face {
  font-family: Alegria;
  src: url('./static/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
  font-weight: 400;
}

/* Default CSS Styles*/

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Alegria;
}


body{
  background-color: #1E201E;
  color: #ECDFCC;
}





/* Navbar container and layout */
.mynavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #1E201E;
}

.navbar-logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.navbar-logo{
  max-width: 40px;
  height: auto;
}

.mynavbar-name{

  font-size: 1.5rem;
  font-size: clamp(1rem, 0.679rem + 1.368vw, 1.5rem);
  margin-left: 10px;
}

.navbar-options-container , .dropdown{
  list-style-type: none;
}


 .navbar-options-container{
  display: none;
  font-size: clamp(1rem, 0.872rem + 0.547vw, 1.2rem);
  flex-direction: column;
  position: fixed;
  top: 60px;
  right:0;
  background-color: #3a3c3a;
  border-radius: 10px;
} 

/* Show the menu when the hamburger is clicked */
 .navbar-options-container.show {
  display: flex;
  flex-direction: column;
} 

.hamburger-menu { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
 } 

 .hamburger-menu span {
  display: block;
  max-width: 100%;
  height: 3px;
  background-color: #ECDFCC;
} 


.nav-list{
  position: relative; 
  
} 

.mynav-link, .dropdown-list{
  border-radius: 10px;
}

.mynav-link{
  text-decoration: none;
  color: #ECDFCC;
  display: block;
  padding: 10px 20px;
}

.mynav-link:hover{
  color: #a29e98;  
  background-color: #a29e98;  
  color: #fff;
};


.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3a3c3a ;
  padding: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 0;
}

 .dropdown-list {
  text-decoration: none;
  color: #ECDFCC;
 display: block;
 font-size: clamp(0.8rem, 0.672rem + 0.547vw, 1rem);
 padding: 5px;
}  

.dropdown-list:hover {
  background-color: #a29e98;
  color: #fff;
} 

.dropdown-list, .mynav-link {
  transition: background-color 0.3s ease;
}

 @media (min-width: 768px) {
  .mynavbar {
    justify-content: space-between;
    padding: 12px 40px;
  }

   .hamburger-menu {
    display: none;
  }

  .navbar-options-container {
    display: flex;
    flex-direction: row;
    width: auto;
    position: static;
    gap: 15px;
    background-color:#1E201E;
  }

  .dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #1E201E;
  } 

  .nav-list:hover .dropdown {
    display: block;
  }
} 


@media (max-width: 768px) {
  .dropdown {
    display: none !important; 
  }  
}




/* Homepage CSS Styles */

.home-page{
  min-height: auto;
  background-color: #1E201E ;
  color: white;
  margin-top: 60px;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.floater{
  position:absolute;
  top: 0;
  left: 100px;
  font-size: clamp(3rem, 0.436rem + 10.94vw, 7rem);
  z-index: 1;
  opacity: .15;
}

.home-parent-header {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row-reverse;
  padding: 20px 10px;
}

.header-info{
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-title{
  font-size: clamp(1.5rem, 1.538rem + 4.103vw, 4rem);
  font-weight: BOLD;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4); /* Light glowing shadow */
  color: #ECDFCC;
}

.info-desc{
  font-size: clamp(1rem, 0.872rem + 0.547vw, 1.2rem);
  /* margin: 0 clamp(0.313rem, -0.288rem + 2.564vw, 1.25rem); */
  margin: 0 10PX;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7), /* Bottom shadow */
  4px 4px 2px rgba(0, 0, 0, 0.5); /* Depth effect */
transform: translateZ(0); /* Activate 3D context */
perspective: 100px;
}

.desc-bold{
  font-weight:900;
  font-size: clamp(1.2rem, 0.815rem + 1.641vw, 1.8rem);
  margin: 5px;
  font-style: italic;
  color: burlywood;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7), /* Bottom shadow */
               4px 4px 2px rgba(0, 0, 0, 0.5); /* Depth effect */
  transform: translateZ(5px); /* Slight pop-out effect */
  perspective: 100px;
}

.header-photo{
  margin-right: 5px;
}

.personal-photo{
  max-width: 100%;
  height: auto;
  border-radius: 25%;
}


.home-parent-footer{
  display: flex;
  justify-content:space-between;
  align-items:center;
  max-width: 30%;
  margin: 30px 10px ;
  gap: 10px;
}

.header-logo{
  width: 100%;
  max-width: 40px;
  max-height: 40px;
  background: white;
  border-radius: 18px;
  /* border: solid 1px rgba(255, 255, 255, 0.2); */
}
.resumelogo{
  border-radius: 5px;
}

.container {
  position: relative;
  width: 100%;
  height: 30px; /* Adjust as needed for your design */
  overflow: hidden;
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
}

.home-wave-container, .projects-wave-container{
  background-color:#1E201E;
}

.home-wave-svg path, .projects-wave-container {
  fill:  #ECDFCC; /* Change to your desired color */
}

.skills-wave-container{
  background-color:#ECDFCC;
}

.skills-wave-svg path {
  fill: #1E201E; /* Change to your desired color */
}


/* .wave-skills{
  fill:  #1E201E; 
}
.wave-skills-container{
  background-color: #ECDFCC;
} */

@media (min-width: 768px) {

  .home-page {
    display: block; 
    align-items: unset;
    flex-direction: unset; 
  }

  .home-parent-header {
    padding-top: 8%;
    flex-direction: row;
  }

  .header-info{
    align-items: start;
    margin-left: 3rem;
  }

  .floater{
    top: 70px;
    left: 0;
  }

  .info-desc{
    margin: 2rem 3rem;
  }
  .header-photo{
    margin-right: 1rem;
  }

  .home-parent-footer{
    width: auto;
    max-width: 10%;
    margin:  3rem 1rem;
  }


}



/* Skills page */

.skills-page {
  background-color:#ECDFCC;
    /* background-color:#697565 ; */
    /* background-color: #1E201E; */
   

}

.skills-header{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
}

.skills-title{
 /* color:#697565;  */
 /* color: burlywood; */
 /* color: #1E201E; */
 color: #3a3c3a;
 font-weight: 900;
 font-size: clamp(1.8rem, 1.031rem + 3.282vw, 3rem);
 padding: 0 80px;
 letter-spacing: 3px;
 text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
}

 .skills-logos{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "a a a b b b c c c d d d e e e"
  "p p p p p p j j j l l l l l l"
  "m m m m m m n n n o o o o o o"
  "k k k k k q q q q q f f f f f";
  gap: 5px;
  padding: 5%;
}


.skills-logo{
  width: 100%;
  max-width: 120px;
  min-height: auto;
  height: auto;
}

.skills-logo:hover {
  transform: scale(1.1) rotateY(20deg) rotateX(20deg); 
   /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);  */
}

.skills-logo-row{
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px; 
  background-color: transparent; 
  position: relative;
  
}

@media (min-width: 768px) {
  .skills-logos{
  grid-template-areas: 
  "a a a b b b c c c d d d e e e"
  "f f f f j j j j k k k k l l l"
  "m m m m m m n n n o o o o o o"
  "p p p p p p p p q q q q q q q";
}

.skills-logo{
  max-width: 130px;
}

}

/* Projects */

.projects{
  /* background-color:#697565 ; */
  background-color: #1E201E;
  /* color: white; */
  color: #ECDFCC;
  padding-bottom: 5%;
}

.project_header
{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3%;
  margin-bottom: 2%;
}

.project_header_text{
  font-weight: 900;
  font-size: clamp(1.8rem, 1.031rem + 3.282vw, 3rem);
  padding: 0 80px;
  text-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.5),   /* Dark shadow for depth */
    -1px -1px 3px rgba(255, 255, 255, 0.4), /* Light glow for contrast */
    3px 3px 8px rgba(255, 223, 186, 0.1); /* Soft glow matching burlywood */
  letter-spacing: 3px;
  color: burlywood;
}


.project_container{
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  margin-inline: 3%;
  padding: 2% 0;
}

.project_info{
  height: auto;
  padding: 2%;
  display: grid;
}

.project_title{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.project_name{
  font-size: clamp(1.1rem, 0.523rem + 2.462vw, 2rem);
  font-weight: bold;
  align-content: end;
}

.external_link{
  width: 100%;
  max-width: 30px;
  height: auto;
  margin-bottom: 1rem;
}

.project_desc{
  font-size: clamp(0.75rem, 0.462rem + 1.231vw, 1.2rem);
  margin-left: 1rem;
  margin-top: .5rem;
}

.project_video{
  padding: 2%;
}

.video{
  max-width: 150px;
  min-height: 180px;
}

.break-lines {
  display: flex; 
  justify-content: space-between;
  gap: 20px;
  margin: 0 5%;
  
}

@media(min-width:768px){
  .video{
    min-width: 200px;
    max-width: 220px;
    min-height: 150px;
    max-height: 400px;
  }
}



/* Contact Page */

.ContactPage{
  background-color: #ECDFCC;
  color:#697565;
  padding-top: 2%;
}

.ContactPage-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-left: 10%;
}

.ContactPage-info{
  font-size: clamp(1.8rem, 1.351rem + 1.915vw, 2.5rem);
  font-weight: bolder;
}

/* .Form-Container{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.Message-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  padding: 2%;
  margin-inline: 2%;
  margin-top: 20px;
}

.input{
  padding: 8px;
  border-radius: 10px;
  border: #ECDFCC 1px solid;
}


#mybtn, .mybtn {
  width: auto;
  height: auto;
  border-radius: 25px;
  background: linear-gradient(90deg, #addab7, #47ac55, #007e17);
  cursor: pointer;
  margin-top: 2%;
  padding: 10px;
  color: white;
  border:none ;
  margin-left: 60%
}; 

#mybtn:hover ,.mybtn:hover{
  background-color: #21081c ;
  color: #a91010;
}


.Footer-container{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
  /* border-top: solid 1px black; */
  padding: 20px 0;
}

.Footer-info{
  font-size: clamp(1rem, 0.872rem + 0.547vw, 1.2rem);
}

@media(min-width:768px){
  .Message-form{
    max-width: 80%;
    margin-inline: 20%;
  }
}


/* Style for each hr element */
.hrbreak {
  flex-grow: 1;
  border: none;
  border-top: 1px solid whitesmoke; 
  height: 1ps;
  opacity: .4;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5)
}

.header-hrbreak {
  border: none;
  border-top: 1px solid transparent;  
  height: 1px; 
  background: whitesmoke;
  opacity: .4;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
  margin: 0 20%; 
}

.styled-hr {
  border: none; 
  height: .2px;  
  background: linear-gradient(to right, #c0d48e, #a5d6a7, #c0d48e); /* Lighter gradient colors */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);  /* Lighter shadow */
  margin: 20px 10%;
  border-radius: 20px;
}

@keyframes gradientFlow {
  0% {
    background: linear-gradient(to right, #c0d48e, #a5d6a7, #c0d48e);
  }
  50% {
    background: linear-gradient(to right, #a5d6a7, #c0d48e, #a5d6a7);
  }
  100% {
    background: linear-gradient(to right, #c0d48e, #a5d6a7, #c0d48e);
  }
}

.styled-hr {
  animation: gradientFlow 5s ease infinite;  /* Smooth flow effect */
}
